.general-container {
  background: linear-gradient(
    135deg,
    var(--background-primary),
    var(--background-secondary)
  );
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
